$primary-color: white;
$bg: black;

body {
  margin: 0;
  background: black;
  color: white;
}

.individual-cards {
  border-bottom: 2px solid gray;
  width: 60vw;
  justify-content: center;
  margin-left: 20vw;
}
